extends ../layout

block content
  h1= title
  p
    |Bloist X1 is an experimental app aimed at testing
    |web development technologies for a future projects.
    strong  I made a change
    |  change 2
  div
    input
    input(type='button', value="Add")
  div#todo_list
